/node_modules
example.js
example.html
livereload.js
practica.html
practica.js
http.html
http.js
http2.html
http2.js
login2.html
filetest.html
indexs.html
controller_config_route.js
angular-animate.min.js
node_modules
.idea
package-lock.json

