<DOCTYPE html>
<html ng-app="myApp">
  <head>
  	<meta charset="utf-8">
  	<title>Test-Web</title>
   
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  </head>
  <body class="cuerpo">



  	<div>
  	    <!--<div ng-init="myFavLan=[{name:'PHP',extension:'.php'},{name:'Javascript',extension:'.js'},{name:'Python',extension:'.py'},{name:'C++',extension:'.cpp'}]"></div>

        <div>
          <p ng-repeat="cualquiercosa in myFavLan">
            Name: {{cualquiercosa.name}}<br>
            Extension: {{cualquiercosa.extension}}<br>

          </p>
        </div>-->
<!--<div ng-controller="select">
  Select your favorite language:
<button ng-click="php()">PHP</button>
<button ng-click="javascript()" >Javascript</button>
<button ng-click="python()" >Python</button>
<button ng-click="cpp()">C++</button>

<p>You have Selected: {{selected}}</p>

</div ng-include="'filetest.html'">
  
<div>
  


</div> --> 


<div ng-view></div>



  	</div>




    
    
    <script type="text/javascript" src="../assets/js/angular.min.js"></script>
     <script type="text/javascript" src="../assets/js/angular-route.min.js"></script>     
     <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="../assets/js/jquery-3.4.0.js"></script>
     <!--<script type="text/javascript" src="../assets/js/app.js"></script>-->
     <script type="text/javascript" src="./practica.js"></script>     
     <script type="text/javascript" src="./controller.js"></script>
     <!--<script type="text/javascript" src="//localhost:35729/livereload.js"></script>-->
     <!--<script type="text/javascript" src="./../gruntfile.js"></script>-->
  </body>
</html>
