<div class="boxlogin" ng-controller ="loginEntrada">
     
        <form ng-submit="entrar()" id="loginaccess" name="loginaccess" novalidate>

<select name="users"  ng-model="type" required>
<option value="" disabled>--Seleccione--</option>
<option value="V" id="V">V</option>
<option value="E" id="E">E</option>
<option value="P" id="P">P</option>
</select><br>
<div class="container-alert">		
	<div ng-show="!type && loginaccess.$submitted" class="alert alert-warning col-md-4">
         	<button class="close" data-dismiss="alert"><span>&times;</span></button>        	
         	Seleccione Opcion!!
         </div>
	</div>           
    		
         <input type="text" name="user" id="user"  ng-model="user"placeholder="Usuario" required/><br>
         <div ng-show="!user && loginaccess.$submitted" class="alert alert-warning">
         	
         	<span> Ingresar Usuario!!</span>

         </div>
         <!--<span> Campo Requerido!!</span>-->
         <input type="password" name="password" id="pass"  ng-model="password" placeholder="Contraseña" required><br>
         <div ng-show="!password && loginaccess.$submitted" class="alert alert-warning">
         	
         	<span> Ingresar Password!!</span>

         </div>


         <!--<span> Campo Requerido!!</span>-->
        <a href="#" ng-click="alert()"> ¿Olvido su Contraseña?</a><br>

        <!--<input class="btn" type="submit"  value="Entrar">-->
        <button type="submit" ng-click="entrar()">Aceptar</button>

        </form>




</div>  
